<%- include("header") -%>  

<h2>This is the about page</h2>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Reprehenderit aliquid quos possimus corrupti doloribus officiis a alias, 
    corporis fugit tempore? Deleniti suscipit, maiores iste adipisci nulla
     distinctio natus laboriosam itaque.</p>


<%- include("footer") -%>